<!-- executed only when person has a value -->
<div *ngIf="person" class="row">
	
<!-- bootstrap modal dialog	http://stackoverflow.com/questions/34513558/angular-2-0-and-modal-dialog -->
	<h2>Edit person {{person.name}}</h2>
	<form class="col-md-7 col-xs-12" #personForm="ngForm">	   	
	   	 <div class="form-group">
	   		 <label>Id: </label>
	   		 <span class="form-control">{{person.id}}</span>
	   	 </div>	   	
	   	 <div class="form-group">
	   		 <label for="email">Email:</label>
	   		 <input [(ngModel)]="person.email" type="text" name="email" #email="ngModel" placeholder="email" id="email" class="form-control" required />
	   		 <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Email is required</div>
	   	 </div>
	   	 <div class="form-group">	   		  
	   		 <label for="name">Name:</label>
	   		 <input type="text" class="form-control" id="name" required [(ngModel)]="person.name"  name="name"  #name="ngModel" placeholder="name" />
	   		 <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>
	
	   		 <!-- [(ngModel)] is 2 way binding between input field and corresponding property  -->
	   	 </div>
	   	 <div class="form-group">
	   		 <label>Age: </label>
	   		 <input [(ngModel)]="person.age"   name="age"   placeholder="age"   class="form-control"/>
	   	 </div>    
	   	 
	   	 <button type="button" class="btn btn-success" (click)="update();">Update</button>
	   	 <button type="button" class="btn btn-default" (click)="cancel();">Close</button>
	   	 <button type="button" class="btn btn-danger pull-right"  (click)="delete();">Delete</button>
	</form>	
</div>


      
     